@use "./breakpoints";

.initial-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 0 50px;
}

.dots-wrapper {
  background-color: rgba(46, 46, 46, 0.7);
  border: 5px solid #fff;
  max-width: 400px;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  @media (max-width: breakpoints.$laptop) {
    max-width: 350px;
    height: 200px;
  }
  @media (max-width: breakpoints.$mobile) {
    max-width: 250px;
    height: 200px;
  }
}

.dots {
  span {
    background-color: rgb(245, 245, 245);
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 100%;
    display: inline-block;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation: 0.6s
          ease-in-out
          calc(0.07s * $i)
          infinite
          normal
          both
          running
          react-spinners-SyncLoader-sync;
      }
    }
  }
  @media (max-width: breakpoints.$laptop) {
    span {
      width: 12px !important;
      height: 12px !important;
    }
  }
  @media (max-width: breakpoints.$mobile) {
    span {
      width: 10px !important;
      height: 10px !important;
    }
  }
}

@keyframes react-spinners-SyncLoader-sync {
  33% {
    transform: translateY(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.waiting {
  font: 400 24px/32px var(--font-roboto);
  @media (max-width: breakpoints.$laptop) {
    font: 400 20px/28px var(--font-roboto);
  }
  @media (max-width: breakpoints.$mobile) {
    font: 400 17px/24px var(--font-roboto);
  }
}

.inital-loader-hide {
  opacity: 0;
  transition: opacity 500ms ease-out;
}
